@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .font-poppins {
    font-family: 'Poppins', sans-serif;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


html,
body,
#root,
.app,
.content{
  height:100%;
  width:100%;
  @apply font-poppins;
  background-color: "#1e5245";
}

.app{
  display:flex;
  position:relative; 
}
/* Smaller overall font */
.fc {
  font-size: 10px;
  overflow: hidden;
}

/* Remove grid borders */
.fc-theme-standard td,
.fc-theme-standard th {
  border: none;
  overflow: hidden;
}

/* Weekday labels */
.fc-col-header-cell {
  padding-bottom: 2px;
  font-size: 0.55rem;
  color: #222322;
}

/* Shrink row height */
.fc-daygrid-day-frame {
  min-height: 28px; /* safe, not too small */
  padding: 2px;     /* keeps day number visible */
}

.fc .fc-daygrid-day-number {
  width: 20px;
  height: 20px; 
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;

}
.fc-day-today {
  background: transparent !important;
}

.fc-event-title {
  text-align: center;
  width: 100%;
}

.fc-event-main {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Hover */
.fc-daygrid-day:hover .fc-daygrid-day-number {
  background: #066b09;
  border-radius: 50%;
  color:white
}

/* Today */
.fc-day-today .fc-daygrid-day-number {
  background: #1d6604;
  color: white;
  border-radius: 50%;
  
}
.fc-scrollgrid-section-body td {
  padding: 0;
}


::-webkit-scrollbar{
  width:10px;
}

/* TRACK */
::-webkit-scrollbar-track{
  background:#e0e0e0;
}


/* HANDLE */
::-webkit-scrollbar-thumb{
  background:#8888;
}


/* HANDLE ON HOVER */
::-webkit-scrollbar-track:hover{
  background:#555;
}

/* Remove built-in password reveal icons */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

input[type="password"]::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  position: absolute;
  right: 0;
}
