@tailwind base;
@tailwind components;
@tailwind utilities;
@import "@fontsource/poppins/index.css";


html,
body,
#root,
.app,
.content{
  height:100%;
  width:100%;
  @apply font-poppins;
  background-color: "#1e5245";
}

.app{
  display:flex;
  position:relative; 
}

::-webkit-scrollbar{
  width:10px;
}

/* TRACK */
::-webkit-scrollbar-track{
  background:#e0e0e0;
}


/* HANDLE */
::-webkit-scrollbar-thumb{
  background:#8888;
}


/* HANDLE ON HOVER */
::-webkit-scrollbar-track:hover{
  background:#555;
}

